body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-size:3rem;
}

p {
    margin-top: -3%;
    text-transform: uppercase;
    font-size:2rem;
}

.poster {
    width: 500px;
    margin-left: 30%;
    margin-top: 100px;
    color: white;
    font-family: "Anton", serif;
    text-align: center;
}

.motivation-img {
    border: 10px solid pink;
    width: 100%;
}

